* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: #fff;
}

.todo-list {
    width: 100%;
    max-width: 540px;
    margin: 100px auto; /*centers todo-list*/
    padding: 40px 30px 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.todo-list h2 {
   color: #002765;
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 20px;
}

.todo-list h2 img {
    width: 30px;
    height: 30px;
}

/*input*/
.todo-input {
    display: flex;
    justify-content: space-between;
    background: #edeef0;
    margin-bottom: 20px;
}

input {
    flex: 1; /*flex grow*/
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5rem;
}

button {
    border: none;
    outline: none;
    padding: 0.5rem;
    background: #637AB9;
    color: #fff;
    cursor: pointer;
}

/*remove default list style*/
ul li {
    list-style: none;
    font-size: 1.25rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/*add an icon before the list*/
ul li::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

/*style check*/
ul li.checked {
    color: #555;
    text-decoration: line-through;
}

/*change style checked checked*/
ul li.checked::before {
    background-image: url(images/checked.png);
}

/*add remove task button*/
ul li span {
    position: absolute;
    right: 6px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #edeef0;
}